.page.theme_light {
  --main-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --focus-color: #ffc2e6;
  --header-color: #353430;
  --title-color: #353430;
  --shadow-color: #ff0070;
  --button-hover-color: rgb(50 49 45 / 0.4);
  --background-image: url(../images/cover-image-light.png);
}

.theme_light .header__decoration {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {

  .page {
    /* Дублируем переменные светлой темы */
    --main-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --focus-color: #ffc2e6;
    --header-color: #353430;
    --title-color: #353430;
    --shadow-color: #ff0070;
    --button-hover-color: rgb(50 49 45 / 0.4);
    --background-image: url(../images/cover-image-light.png);
  }

  .header__decoration {
    visibility: hidden;
  }
}