:root .theme_light {
  --background-color: #fff1f7;
  --text-color: #353430;
  --article-text-color: #353430;
  --button-text-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --hover-color: rgba(50, 49, 45, 0.4);
  --focus-color: rgba(53, 52, 48, 1);
  --rec-visible: none;
  --title-color: #FFC2E6;
  --background-text-color: #ff8dcb;
  --accent-text-color: #353430;
  --accent-color-corner: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
  --background-color: #fff1f7;
  --text-color: #353430;
  --article-text-color: #353430;
  --button-text-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --hover-color: rgba(50, 49, 45, 0.4);
  --focus-color: rgba(53, 52, 48, 1);
  --rec-visible: none;
  --title-color: #FFC2E6;
  --background-text-color: #ff8dcb;
  --accent-text-color: #353430;
  --accent-color-corner: #353430;
 }
}