.page {
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  min-block-size: 668px;
  block-size: 100vh;
  padding: var(--gap) var(--gap) 0 var(--gap);
}

.decorated-zone::before {
  content: '';
  height: 25px;
  width: 25px;
  display:block;
  position: absolute;
  border-top: 1px solid var(--decorate-color);
  border-right: 1px solid var(--decorate-color);
  top: var(--gap);
  right: var(--gap);
}

.decorated-zone::after {
  content: '';
  height: 25px;
  width: 25px;
  display:block;
  position: absolute;
  border-bottom: 1px solid var(--decorate-color);
  border-left: 1px solid var(--decorate-color);
  bottom: var(--gap);
  left: var(--gap);
}

.header__decorative-text {
  display: var(--rec-display);
  text-transform: uppercase;
  position: absolute;
  color: var(--accent-color);
  top: calc(var(--gap) + 1px);
  right: calc(var(--gap) + 10px);
}

.header__decorative-text::after {
  content: '';
  display: var(--rec-display);
  width: 9px;
  height:9px;
  border-radius: 50%;
  background-color: #FF0070;
  box-shadow: 0 0 4px 2px #FF0070;
  margin-left: 10px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  list-style-type: none;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: transparent;
  text-transform: lowercase;
  border: 1px solid transparent;
  color: var(--decorate-color);
  width: 70px;
  cursor: pointer;
}

.header__theme-menu-item:has(.header__theme-menu-button_active) {
  border: 1px solid var(--decorate-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--decorate-color-transparent);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid;
}

.header__title {
  font-weight: bold;
  color: var(--title-color);
  text-shadow: 4px 4px var(--accent-color);
}

.header__epigraph-text {
  font-weight: bold;
  line-height: 23.4px;
  margin-bottom: 15px;
}

.main {
  padding: 0 var(--gap);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
}

.main__paragraph-subtitle-first{
  font-size: 18px;
}

.main__paragraph-subtitle {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.main__paragraph-title {
  color: var(--decorate-color);
  font-size: 18px;
  line-height: 23.4px;
}
.main__paragraph-text-first{
  margin-top: 10px;
}

.main__paragraph-text {
  color: var(--text-color);
  line-height: 23.4px;
}

.main__content-section {
  margin-top: 50px;
}

.why__paragraph-adaptiv {
  margin-top: 0px;
}

.main__how-paragraph-subtitle {
  font-weight: normal;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid;
  text-decoration: none;
}

.link:focus {
  outline: none;
  border: 1px solid var(--text-color);
}

.main__gallery-title {
  margin: 0;
  font-size: 18px;
}

.main__gallery-section {
  margin-top: 50px;
}

.main__gallery {
  margin-top: 10px;
  display: grid;
  gap: var(--gap);
}

.image {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  min-height: 100%;
}

.footer {
  display: flex;
  position: relative;
  justify-content: center;
  min-block-size: 667px;
  block-size: 100vh;
  align-items: center;
}

.footer__title {
  font-weight: bold;
  color: var(--title-color);
  text-shadow: 4px 4px var(--accent-color);
}

@media (width < 768px) {

  .header__title {
    font-size: clamp(7.25rem, 5.0536rem + 9.9274vw, 9.8125rem);
    line-height: 82.5%;
    margin-left: -5px;
  }

  .why__paragraph-adaptiv {
    padding-top: 40px;
  }

  .main__gallery-section {
    padding-bottom: 40px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 5.0536rem + 9.9274vw, 9.8125rem);
    line-height: 82.5%;
  }

}

@media (768px <= width) {

  .header {
    padding: calc(var(--gap) + 10px) calc(var(--gap) + 10px) 0 0;
  }

  .decorated-zone::before {
    top: calc(var(--gap) + 10px);
    right: calc(var(--gap) + 10px);
  }
  
  .decorated-zone::after {
    bottom: calc(var(--gap) + 10px);
    left: calc(var(--gap) + 10px);
  }
  
  .header__decorative-text {
    top: calc(var(--gap) + 11px);
    right: calc(var(--gap) + 20px);
  }
  
  .header__theme-menu {
    margin-top: 25px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-bottom: 15px;
  }

  .header__epigraph {
    max-inline-size: 364px;
    justify-self: end;
    margin-bottom: 50px;
  }

  .main {
    padding: 0 calc(var(--gap) + 10px);
  }

  .why__paragraph-adaptiv {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: calc(var(--gap) + 10px);
    padding-top: 60px;
  }

  .main__paragraph-title {
    max-inline-size: 236px;
  }

  .what__paragraph-adaptiv {
    margin-top: 80px;
  }

  .how__paragraph-adaptiv {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: calc(var(--gap) + 10px);
    margin-top: 80px;
  }

  .main__gallery-section {
    margin-top: 80px;
    padding-bottom: 60px;
  }

  .main__gallery {
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--gap) + 10px);
  }

  .img__sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .img__ice-cream {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .img__tape {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .img__books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .img__street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin: 0;
  }

}

@media (1024px <= width) {

  .header {
    align-items: start;
  }

  .header__epigraph {
    max-inline-size: 491px;
    justify-self: end;
    margin-top: 60px;
  }

  .header__theme-menu {
    justify-self: center;
    align-items: start;
    margin: 0;
  }

  .header__theme-menu-list {
    padding-left: 15px;
    flex-direction: row;
  }

  .what__paragraph-adaptiv {
    margin-top: 80px;
  }

  .main__what-paragraph-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--gap) + 10px);
  }

  .why__paragraph-adaptiv {
    padding-top: 60px;
    gap: var(--gap);
  }

  .main__paragraph-title {
    max-inline-size: 315px;
  }

  .how__paragraph-adaptiv {
    margin-top: 80px;
    gap: var(--gap);
  }

}