.page {
  background: var(--background-color);
  font-family: var(--accent-font);
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow: auto;
  padding: 0 10px;
}

.header {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  align-self: center;
}

.header__text {
  color: var(--text-color);
  background-color: var(--background-text-color);
  font-size: 18px;
  font-weight: bold;
  line-height: 23.4px;
  margin-bottom: 26px;
}

.header__text-decor {
  height: fit-content;
}

.decorated-zone {
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
  display: grid;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color-corner);
  border-right: 1px solid var(--accent-color-corner);
  inset-inline-end: 0;
  inset-block-start: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color-corner);
  border-left: 1px solid var(--accent-color-corner);
  inset-block-end: 10px;
  inset-inline-start: 0;
}

.header__rec {
  display: var(--rec-visible);
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  color: var(--accent-color);
}

.header__rec::before {
  content: 'rec';
  margin-inline-end: 1px;
  margin-block-end: 1px;
  line-height: 25px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-size: 18px;
}

.header__rec::after {
  content: "";
  display: inline-block;
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  margin-inline-start: 8px;
  margin-block-start: 5px;
  margin-block-end: 2px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin-block-start: 20px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  text-align: center;
  vertical-align: middle;
  min-block-size: 26px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--button-text-color);
  text-align: center;
  font-family: var(--accent-font), monospace;
  line-height: 18px;
  font-size: 18px;
  text-transform: lowercase;
  cursor: pointer;
  padding: 0;
  width: 70px;
  height: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--focus-color);
}

.header__theme-menu-button:active {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--focus-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--focus-color);
  pointer-events: none;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-start: 10px;
}

.main__section {
  display: grid;
  gap: 20px;
}

.section__why {
  margin-block-start: 30px;
}

.main__title {
  color: var(--accent-text-color, rgba(255, 0, 112));
  font-family: var(--accent-font), sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.article-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__title {
  color: var(--text-color);
  background-color: var(--background-text-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.content__description {
  color: var(--article-text-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.description-link {
  text-shadow: 2px 2px var(--background-text-color);
  text-decoration: none;
}

.description-link:hover {
  border-bottom: 1px solid var(--article-text-color);
}

.description-link:focus {
  outline: none;
}

.description-link:focus-visible {
  outline: none;
  border: 1px solid var(--article-text-color);
}

.how__content__title {
  font-weight: 400;
}

.section__images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images__list-item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  gap: 30px;
  margin-top: 40px;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  align-self: center;
}

@media (min-width: 768px) {
  .header {
    grid-template-rows: 1fr min-content 1fr;
  }

  .header__title {
    margin-inline-start: -10px;
  }

  .header__text-decor {
    justify-self: end;
    align-self: start;
    margin-block-start: 22%;
    margin-inline-end: 1.5%;
    inline-size: 48.5%;
  }

  .decorated-zone::before {
    inset-inline-end: 10px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 10px;
    inset-block-end: 20px;
  }

  .header__rec {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .header__rec::after {
    margin-inline-start: 8px;
    margin-block-end: 2px;
  }

  .header__rec::before {
    margin-block-start: 10px;
  }

  .header__theme-menu {
    margin-block-end: 1%;
    margin-inline-end: 10px;
  }

  .main__content {
    padding: 20px 10px;
  }

  .section__why,
  .section__how {
    grid-template-columns: 1fr 2fr;
  }

  .section__what {
    padding-top: 30px;
  }

  .section__how {
    padding-top: 30px;
  }

  .title__what {
    inline-size: 30vw;
  }

  .title__how {
    grid-row: span 2;
  }

  .images__content__title {
    grid-area: title;
  }

  .images__sunset {
    grid-area: sunset;
  }

  .images__ice-cream {
    grid-area: ice-cream;
  }

  .images__tape {
    grid-area: tape;
  }

  .images__books {
    grid-area: books;
  }

  .images__street {
    grid-area: street;
  }

  .section__images {
    padding-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr, auto);
    grid-template-areas:
    "title title title"
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  }

  .footer__title {
    align-items: start;
  }

}
@media (min-width: 1024px) {
  .header {
    position: relative;
    block-size: 100vh;
    max-width: 1024px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    align-self: center;
    line-height: 129.53px;
    margin-block-end: 0.1%;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    align-self: center;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    margin: 0;
    margin-block-start: 1.8%;
  }

  .header__theme-menu-list {
    display: grid;
    grid-template-columns: repeat(3, 70px);
  }

  .header__text-decor {
    margin-block-start: 11.2%;
    margin-inline-end: 1.3%;
  }

  .section__what {
    grid-template-rows: repeat(2, auto);
  }

  .what__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row dense;
  }
  
  .section__why,
  .section__how {
    grid-template-columns: 32% 1fr;
  }
}
