:root {
  --background-color: #000028;
  --text-color: #000028;
  --article-text-color: #F1B2CE;
  --accent-font: IBM Plex Mono, monospace;
  --button-text-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --hover-color: rgba(255, 0, 112, 0.4);
  --focus-color: rgba(255, 0, 112, 1);
  --accent-color: #ff0070;
  --accent-color-corner: #ff0070;
  --accent-text-color: #ff0070;
  --rec-visible: visible;
  --title-color: #DB00FF;
  --background-text-color: #ff0070;
}